@import "../../app.scss";


.projects {
    position: relative;

    @include mobile {
        transition: none !important;
        animation: none !important;
        transform: none !important;
    }


    .progress {
        position: sticky;
        top: 0;
        left: 0;
        padding: 50px;
        padding-bottom: 10px;
        text-align: center;
        background: rgb(7, 96, 42);
        background: linear-gradient(0deg, rgba(7, 96, 42, 1) 5%, rgba(15, 68, 36, 1) 9%, rgba(19, 42, 28, 1) 21%, rgba(18, 17, 17, 1) 36%);
        font-size: 36px;
        z-index: 1;
        padding-top: 30px;
        color: aquamarine;
        ;

        @include mobile {
            font-size: 20px;
        }


        .progressBar {
            height: 5px;
            background-color: white;
        }
    }



    .container {
        display: flex;
        align-items: center;
        justify-items: center;
        height: 100%;
        width: 100%;
        overflow: hidden;
        background: rgb(3, 3, 3);
        background: linear-gradient(90deg, rgba(3, 3, 3, 0.9511263978247549) 46%, rgba(38, 38, 38, 0.9511263978247549) 68%, rgba(53, 53, 53, 0.9511263978247549) 86%, rgba(58, 58, 58, 0.9511263978247549) 100%);
        margin-top: 90px;


        .wrapper {
            height: 100%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 50px;
            max-width: 1366px;
            flex-direction: column;

            @include mobile {
                text-align: center;
                gap: 10px;
                max-width: 100%;
            }


            .heading {
                display: flex;
                align-items: center;
                justify-items: center;
                border-radius: 20px;



                h1 {
                    font-size: 48px;
                    margin: 5px 20px 5px 20px;
                    align-self: center;

                    @include mobile {
                        font-size: 32px;
                        margin: 5px 10px 5px 10px;
                    }
                }

            }

            .cards {
                display: flex;
                gap: 50px;
                height: 80vh; // Height relative to the viewport height
                width: 90vw; // Width should likely be relative to the viewport width, not height
                justify-content: center; // Centers children horizontally
                align-items: center; // Centers children vertically

                @include mobile {
                    height: 75vh;
                    width: 80vw;
                }

                .content {
                    border-radius: 25px;
                    box-shadow: rgba(46, 240, 204, 0.4) 3px 3px, rgba(46, 240, 156, 0.3) 6px 6px, rgba(46, 240, 140, 0.2) 9px 9px, rgba(46, 240, 149, 0.1) 12px 12px, rgba(240, 46, 170, 0.05) 15px 15px;
                    background-color: rgb(32, 39, 32);
                    padding: 100px 0px 100px 0px;
                    height: 70vh; // Height relative to the viewport height
                    width: 90vw;
                    align-items: center;
                    display: flex;
                    gap: 5vw;
                    overflow: hidden;
                    border-radius: 50px;

                    @include mobile {
                        border-radius: 15px;
                        padding: 50px 0px 50px 0px;
                        height: 70vh;
                        width: 90vw;
                        display: flex;
                        flex-direction: column;
                        padding: 0px;
                        overflow: hidden;
                    }

                    .img-div {
                        justify-content: left;

                        .img {
                            height: 70vh;
                            width: 45vw;

                            @include mobile {
                                height: 30vh;
                                width: 80vw;
                            }
                        }

                    }

                    .description {

                        display: flex;
                        flex-direction: column;
                        gap: 25px;
                        padding: 0px 50px 0px 0px;


                        @include mobile {
                            gap: 10px;
                            padding: 5px;
                        }

                        .title {
                            text-align: center;
                            font-size: 32px;
                            font-weight: 600;
                            color: rgb(27, 244, 150);

                            @include mobile {
                                font-size: 14px;
                            }
                        }

                        .objective {
                            text-align: center;
                            font-size: 24px;
                            font-weight: 600;
                            color: rgb(75, 164, 102);

                            @include mobile {
                                font-size: 10px;
                                margin-top: 4vw;
                            }
                        }

                        .role-duration-location {
                            font-size: 24px;
                            font-weight: 400;

                            @include mobile {
                                font-size: 10px;
                                margin-top: 4vw;
                            }
                        }

                        .longDes {
                            font-size: 20px;
                            font-weight: 600;
                            color: rgb(94, 186, 170);

                            @include mobile {
                                font-size: 8px;
                                display: none;
                            }
                        }

                        .skills {
                            padding: 10px;
                            display: grid;
                            border-radius: 10px;
                            gap: 5px;
                            grid-template-columns: 1fr 1fr 1fr 1fr;

                            @include mobile {
                                padding: 2px;
                                margin-top: 4vw;
                                gap: 2px;
                                justify-self: end;
                            }

                            .skill-button {
                                padding: 1px;
                                border-radius: 5px;
                                border-color: green;
                                font-weight: bold;
                                background-color: transparent;
                                color: azure;
                                font-size: 20px;

                                @include mobile {
                                    padding: 1px;
                                    border-radius: 1px;
                                    font-size: 10px;
                                }
                            }
                        }

                        .link {
                            padding: 5px;
                            margin-left: 400px;
                            border-radius: 5px;
                            font-weight: 600;
                            font-size: larger;
                            width: 5vw;
                            background-color: #26d457;

                            @include mobile {
                                width: 20vw;
                                margin-left: 30vw;
                            }
                        }

                    }
                }


                .button {
                    height: 100px;
                    width: 100px;
                    position: relative;
                    padding: 10px;
                    color: white;
                    font-weight: bold;
                    font-size: 40px;
                    background-color: rgb(32, 39, 32);
                    border-radius: 10px;
                    border: none; // Assuming you want no visible border
                    cursor: pointer; // Changes the cursor to a pointer to indicate it's clickable

                    @include mobile {
                        height: 40px;
                        font-size: 20px;
                        width: 40px;
                        border-radius: 5px;

                    }
                }

                .left {
                    position: absolute;
                    left: 50px; // Positioning the button from the left inside the container

                    @include mobile {
                        top: 600px;
                        left: 4px;
                    }
                }

                .right {
                    position: absolute;
                    right: 50px; // Positioning the button from the right inside the container

                    @include mobile {
                        top: 600px;
                        right: 4px;
                    }
                }

            }

            .button-ML {
                height: 100px;
                width: 100px;
                position: relative;
                padding: 10px;
                color: white;
                font-weight: bold;
                font-size: 40px;
                background-color: rgb(32, 39, 32);
                border-radius: 10px;
                border: none; // Assuming you want no visible border
                cursor: pointer;

                @include mobile {
                    height: 40px;
                    width: 40px;
                    font-size: 20px;
                    border-radius: 5px;
                }

            }

            .left-ML {
                position: absolute;
                left: 50px; // Positioning the button from the left inside the container

                @include mobile {
                    top: 1530px;
                    left: 5px;
                }
            }

            .right-ML {
                position: absolute;
                right: 50px; // Positioning the button from the right inside the container

                @include mobile {
                    top: 1530px;
                    ;
                    right: 5px;
                }
            }

        }
    }

}