@import "../../app.scss";

.education {

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(3, 3, 3);
    background: linear-gradient(90deg, rgba(3, 3, 3, 0.9511263978247549) 46%, rgba(38, 38, 38, 0.9511263978247549) 68%, rgba(53, 53, 53, 0.9511263978247549) 86%, rgba(58, 58, 58, 0.9511263978247549) 100%);

    @include mobile {
        transition: none !important;
        animation: none !important;
        transform: none !important;
    }

    .quote-container {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 20px;

        @include mobile {
            display: flex;
            flex-direction: column;
            text-align: center;
        }


        .title {
            flex: 1;
            text-align: center;
            font-size: 72px;
            color: aquamarine;

            @include mobile {
                margin-top: 20px;
                font-size: 32px;
            }
        }

        .quote {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 20px;

            @include mobile {
                flex: 0;
                display: none !important;
            }


            p {
                font-size: 20px;
                font-weight: 200;
                color: rgb(177, 180, 176);
                text-align: right;
            }

            hr {
                width: 250px;
                border: none;
                border-top: 0.5px solid gray;

                @include mobile {
                    width: 300px;
                }
            }
        }



    }

    .title-container {
        flex: 3;
        max-width: 1366px;
        margin: auto;
        display: flex;
        align-items: center;
        gap: 20px;

        @include mobile {
            flex-direction: column;
            flex: 8;
        }

        .education {
            flex: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            justify-items: right;
            gap: 40px;


            .img {

                @include mobile {
                    align-self: center;
                    align-items: center;
                    position: relative;
                    margin-top: 70px;
                }

                img {
                    border-radius: 75px;
                    height: 95%;
                    width: 95%;
                    display: block;
                    margin: 16px;
                    border: 5px solid #fff;
                    box-shadow:
                        0 10px 20px rgba(0, 0, 0, 0.2),
                        0 0 0 5px rgba(255, 255, 255, 0.4),
                        0 0 0 10px rgba(17, 111, 14, 0.5),
                        0 0 60px rgba(17, 111, 14, 0.9),
                        inset 0 0 10px rgba(0, 0, 0, 0.3);

                    transition: transform 0.3s ease, box-shadow 0.3s ease;

                    &:hover {
                        transform: translateY(-5px);
                        box-shadow:
                            0 15px 30px rgba(0, 0, 0, 0.3),
                            0 0 0 5px rgba(255, 255, 255, 0.5),
                            0 0 0 15px rgba(17, 111, 14, 0.6),
                            0 0 80px rgba(17, 111, 14, 1),
                            inset 0 0 10px rgba(0, 0, 0, 0.4);
                    }

                    @include mobile {
                        position: absolute;
                        border-radius: 100px;
                        top: -180px;
                        left: -250px;
                        width: 470px;
                        height: 300px;
                        border: none;
                        box-shadow: none;

                        &:hover {
                            transform: none;
                            box-shadow: none;
                        }
                    }
                }

                ;
            }

        }

        .edu-info {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 75px;
            align-items: center;
            justify-content: right;

            @include mobile {
                flex: 3;
                margin: 20px;
                margin-top: 60px;
                align-items: center;
                justify-content: space-around;
            }

            .UF {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;

                @include mobile {
                    font-size: 14px;
                }

                img {
                    border-radius: 25px;
                    height: 150px;
                    width: 150px;

                    @include mobile {
                        height: 100px;
                        width: 100px;
                    }
                }
            }

            .NIT {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;

                @include mobile {
                    font-size: 14px;
                    margin-bottom: 60px;
                }

                img {
                    border-radius: 25px;
                    height: 150px;
                    width: 150px;

                    @include mobile {
                        height: 100px;
                        width: 100px;
                    }
                }
            }
        }


    }
}