@import "../../app.scss";

.hero {
    height: calc(100vh - 100px);
    overflow: hidden;
    background: rgb(3, 3, 3);
    background: linear-gradient(90deg, rgba(3, 3, 3, 0.9511263978247549) 46%, rgba(38, 38, 38, 0.9511263978247549) 68%, rgba(53, 53, 53, 0.9511263978247549) 86%, rgba(58, 58, 58, 0.9511263978247549) 100%);
    animation: gradient-animation 18s ease infinite;
    position: relative;

    .wrapper {
        max-width: 1366px;
        height: 100%;
        margin: auto;

        .text-container {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;

            @include mobile {
                height: 50%;
                width: 100%;
                gap: 20px;
                align-items: center;
                text-align: center;
            }

            h2 {
                font-size: 36px;
                color: #16c6d2;
                letter-spacing: 5px;
                font-family: 'Kalnia', serif;

                @include mobile {
                    font-size: 24px;
                }

            }

            h1 {
                font-size: 64px;
                font-family: 'Kalnia', serif;
                font-family: 'Merienda', cursive;

                @include mobile {
                    font-size: 28px;
                }
            }

            .buttons {
                display: flex;
                gap: 20px;

                button {
                    padding: 20px;
                    background: transparent;
                    color: rgb(35, 216, 216);
                    border-radius: 15px;
                    border: 1px solid white;
                    font-weight: bold;
                    cursor: pointer;
                    outline: none;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
                        inset 0 2px 4px rgba(255, 255, 255, 0.2);
                    text-transform: uppercase;
                    transition: all 0.3s ease;
                    z-index: 1;

                    &:hover {
                        background-image: linear-gradient(to right, rgb(71, 166, 181), rgb(88, 94, 88), rgb(33, 37, 33));
                        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
                    }

                    &:active {
                        box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
                        transform: translateY(2px);
                    }
                }

            }

            img {
                width: 50px;
            }
        }
    }

    .sliding-textcontainer {
        position: absolute;
        font-size: 35vh;
        bottom: -70px;
        white-space: nowrap;
        color: #ffffff09;
        width: 50%;
        font-weight: bold;


    }

    .img-container {
        height: 100%;
        position: absolute;
        top: 100px;
        right: 0;

        @include mobile {
            height: 60%;
            width: 100%;
            top: unset;
            bottom: 0;
        }


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            padding-top: 40px;
            // padding-right: 100px;
            filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.6));

            @include mobile {
                padding-top: 50px;
                height: 500px
            }
        }



    }

}