@import "../../app.scss";

.contacts {
    height: 100%;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;


    @include mobile {
        width: 100%;
        padding: 10px;
        flex-direction: column;
    }

    .text-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 40px;

        @include mobile {
            gap: 20px;
            text-align: center;
            align-items: center;
            margin-top: 70px;
        }


        h1 {
            font-size: 100px;
            line-height: 88px;
            color: rgb(121, 224, 113);

            @include mobile {
                font-size: 36px;
            }
        }

        span {
            font-weight: 300;
        }
    }

    ;

    .form-container {
        flex: 1;
        position: relative;

        @include mobile {
            padding: 50px;
            width: 100%;
        }

        .phone-svg {
            stroke: orange;
            position: absolute;
            margin: auto;
            z-index: -1;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            color: rgb(17, 206, 219);

            input,
            textarea {
                padding: 20px;
                background-color: transparent;
                border: 5px solid rgb(17, 206, 219);
                color: rgb(0, 0, 0);
                border-radius: 5px;

                @include mobile {
                    padding: 10px;
                }
            }

            button {
                padding: 20px;
                bottom: none;
                background-color: orange;
                cursor: pointer;
                font-weight: 500;
                border-radius: 5px;

                @include mobile {
                    padding: 10px;
                }
            }

            ;
        }

        ;

    }

    ;
}